{% extends "backlog/base.html" %}

{% block page_title %}PMQ: Choose{% endblock %}

{% block content %}

<div class="row m-4">
    <div class="card-deck container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ idea1.title }}</h5>
                <p class="card-text">{{ idea1.description }}</p>
            </div>
            <div class="card-footer text-center">
                <!-- <a href="#" class="btn btn-primary">Choose Idea 1</a> -->
                <form action="{% url 'backlog:choose_pairwise' idea1.id idea2.id %}" method="post">{% csrf_token %}<input class="btn btn-primary" type="submit" name="chosen_idea" value="Choose Idea 1" /></form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ idea2.title }}</h5>
                <p class="card-text">{{ idea2.description }}</p>
            </div>
            <div class="card-footer text-center">
                <!-- <a href="#" class="btn btn-primary">Choose Idea 2</a> -->
                <form action="{% url 'backlog:choose_pairwise' idea2.id idea1.id %}" method="post">{% csrf_token %}<input class="btn btn-primary" type="submit" name="chosen_idea" value="Choose Idea 2" /></form>
            </div>
        </div>
    </div>
</div>

{% endblock %}