{% extends "backlog/base.html" %}

{% block page_title %}PMQ: Backlog{% endblock %}


{% block content %}

<!-- <div class="alert alert-primary" role="alert">
    If you want to see the list of ideas, <a href="{% url 'backlog:idea_list' %}" class="alert-link">click here!</a>
</div> -->

<div class="container">
    <div class="col-sm-12">
        <div class="row mb-4">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pairwise Comparison</h5>
                        <p class="card-text">Users choose between two random ideas and the system ranks them based on Elo Rating.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'backlog:idea_pairwise' %}" class="btn btn-primary">Start Ranking</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sampled Ranking</h5>
                        <p class="card-text">Users are provided a subset of ideas and asked to rank them against the others.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'backlog:idea_sample_rank' %}" class="btn btn-primary">Start Ranking</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class='col-6 align-self-center'>
                        <h5 class="m-0">Top 20 Open Ideas</h5>
                    </div>
                    <div class='col-6 align-self-center'>
                        <a href="{% url 'backlog:idea_list' %}" class="btn btn-outline-secondary btn-sm float-right">Show All</a>
                        <a href="{% url 'backlog:idea_add' %}" class="btn btn-outline-secondary btn-sm float-right mr-2">Add New Idea</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <!-- <th scope="col">Description</th> -->
                            <th scope="col">Author</th>
                            <th scope="col">Elo Score</th>
                            <!-- <th scope="col">Created</th> -->
                            <!-- <th scope="col">Modified</th> -->
                            <!-- <th scope="col">Release</th> -->
                            <!-- <th scope="col">Status</th> -->
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in open_ideas %}
                        <tr> 
                            <td class="align-middle">{{ item.title }}</td>
                            <!-- <td class="align-middle">{{ item.description }}</td> -->
                            <td class="align-middle">{{ item.author }}</td>
                            <td class="align-middle">{{ item.elo_score }}</td>
                            <!-- <td class="align-middle">{{ item.created }}</td> -->
                            <!-- <td class="align-middle">{{ item.modified }}</td> -->
                            <!-- <td class="align-middle">{{ item.release }}</td> -->
                            <!-- <td class="align-middle">{{ item.get_status_display }}</td> -->
                            <td class="align-middle"><a href="{% url 'backlog:idea_detail' item.slug %}" class="btn btn-outline-secondary btn-sm float-right">More Detail</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}